/** Override file for Cleveland Clinic Theme **/

div.loadingCover h3{background-image:url(../../../images/cc_bug_ani.gif);background-color:#fff;}
div#data div#destination-list-div {background-image: url(../../../images/cc_bug_ani.gif);background-color:#fff;}
div#data div#events-list-div {background-image: url(../../../images/cc_bug_ani.gif);background-color:#fff;}
div#eventspage div#destination-list-div {background-image: url(../../../images/cc_bug_ani.gif);background-color:#fff;}
div#eventspage div#events-list-div {background-image: url(../../../images/cc_bug_ani.gif);background-color:#fff;}
#data .ui-table tbody tr.even td{background:#ffffff;min-width: 120px;}
#data .ui-table thead tr th{background:#ffffff;min-width: 120px;}
#data .ui-table tfoot tr td{background:#ffffff;min-width: 120px;}
#eventspage .ui-table tbody tr.even td{background:#ffffff;min-width: 120px;}
#eventspage .ui-table thead tr th{background:#ffffff;min-width: 120px;}
#eventspage .ui-table tfoot tr td{background:#ffffff;min-width: 120px;}
html.lte8 #data .ui-table tbody tr {  border-bottom: 1px solid #ccc; background-color:#ffffff}
html.lte8 #eventspage .ui-table tbody tr {  border-bottom: 1px solid #ccc; background-color:#ffffff}
div.ljMapPage div.ui-content .ljContainer #SVGBox{background-image:url(../../../images/cc_bug_ani.gif);background-color:#fff;}
div#printable div.mappingDiv{background-image: url(../../../images/cc_bug_ani.gif);}
div#walkingdirections div.mappingDiv{background-image: url(../../../images/cc_bug_ani.gif);}
div.ljMapPage div.ui-content .ljContainer .ljDirectionsContainer .loadingDiv{background-image:url(../../../images/cc_bug_ani.gif);background-color:#fff;}
div#printable div.ljPrintableContainer div.directionsContainer div.walkingStepsDiv{background-image: url(../../../images/cc_bug_ani.gif);background-color:#fff;}
fieldset.outer legend.mainTitle{color:#205791;}
#data div.ljContainer legend.mainTitle{color:#205791;}
fieldset.outer legend.mainTitle a{color:#205791;}
fieldset.outer legend.mainTitle a:visited{color:#205791;}
div.ljMapPage div.ui-content .ljContainer div.mapHeader span.currentStep{color:#205791;text-shadow:none;}
table.tablesorter thead tr .ui-icon-lj-sort {background-color:#205791}

.ui-input-has-clear.ui-input-search .ui-input-clear.ui-btn{background-color:#205791}
div[data-role="page"] a.getDirectionsButton.ui-btn, div[data-role="page"] a.getDirectionsButton.ui-btn:visited{
background:#205791;
box-shadow:0px 0px;
border-radius:0px;
filter:none;
}
a.getDirectionsButton.ui-icon-lj-arrow:after{background:transparent url(images/ljSprite_clevelandclinic.png) no-repeat 0 0; margin-top:-8px;}
ul.autocompleteSuggestions a.ui-btn.listItemHover{
	background: #3388cc /*{a-bhover-background-color}*/;
	border-color: #3388cc /*{a-bhover-border}*/;
	color: #ffffff /*{a-bhover-color}*/;
	text-shadow: 0 /*{a-bhover-shadow-x}*/ 0px /*{a-bhover-shadow-y}*/ 0 /*{a-bhover-shadow-radius}*/ #f3f3f3 /*{a-bhover-shadow-color}*/;
}
fieldset.outer legend.from,
fieldset.outer legend.to{text-align:right;padding-right:0.5em;}
fieldset.outer label.from,
fieldset.outer label.to{padding:.8em 0.5em 0 0;text-align:right;}

div.ljContainer span.ljHelpArrow{display:none!important;}

/* Layout */
div.ljMapPage div.ui-panel-content-wrap{background:transparent;}
/* Header */
.ui-header .startOverButton.ui-btn { margin: 8px 2px 0 0; }

/* Content */

div.appHeader a.logo{margin:8px 0 0 0;}
div.ljContainer span.ljSeparatorSmall {background:none;padding:0;}
div.ljContainer span.ljSeparatorBig {background:none;border-bottom:1px solid #ccc;height:1px;padding:0;}
.location-stack{min-height:9em;position:relative;}
#lookupList .ui-btn,
#autocompleteGoogle .ui-btn,
#autocompleteFrom .ui-btn,
#autocompleteTo .ui-btn { border-bottom: 1px solid #3388cc; }
/*div.getDirectionsBtnDiv{padding:1em 0 6em;}*/

div.getDirectionsBtnDiv a.getDirectionsButton,
div.popupPrompt .getDirectionsButton{
	-moz-box-shadow: 0;
	-webkit-box-shadow: 0;
	box-shadow: 0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
}
#lookupList .ui-li-has-arrow .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-arrow{padding-right:15px;}
#lookupList .ui-link-inherit{color:#fff;text-decoration:none;}

fieldset.outer#to .location-stack,
.location-stack.selected,
#searchEnd.location-stack{padding:2em 0 0 0;min-height: 6em;}
fieldset.outer legend.mainTitle{padding:10px 0;}
div.ljMapPage div.ui-content .ljContainer div.mapNav {background:transparent;}
div.ljMapPage div.ui-content .ljContainer div.mapHeader{background:#dfdfdf;}
div.ljMapPage div.ui-content .ljContainer div.mapHeader h1{color:#205791;text-shadow:none;}

div.ljMapPage div.ui-content .ljContainer div.mapHeader {z-index:0;}

fieldset.onCampusButtons .ui-btn {position:relative;top:-1em;}
/*#directionsLink.onOffCampusSelected{display: block; padding: 0  0 2.6em;}*/

/* Main Menu on Directions Page */
div.ljMapPage div.ui-content .ljContainer .ljNavBar {margin:0 0 0 1em;}
div.ljMapPage div.ui-content .ljContainer .ljNavBar .ui-btn{width:62px;height:17px;border:2px solid #205791;}
div.ljMapPage div.ui-footer               .ljNavBar .ui-btn{border:2px solid #205791;height:17px;padding-right:11px;margin-left: 1px;margin-bottom:1px;}
div.ljMapPage div.ui-content .ljContainer .ljNavBar .ui-btn {font-weight:normal;}
div.ljMapPage div.ui-content .ljContainer .ljNavBar .ui-btn.ui-btn-active,
div.ljMapPage div.ui-footer               .ljNavBar .ui-btn.ui-btn-active{position:relative;height:17px;overflow:visible; z-index:5000;}
div.ljMapPage div.ui-content .ljContainer .ljNavBar .ui-btn.ui-btn-active:before {content:""; height: 47px; width: 100%; position: absolute; left: 0; top: 0; z-index: 5000; display: block; background: transparent url(images/cc_main_menu_arrow.png) no-repeat 50% 34px;}
div.ljMapPage div.ui-footer               .ljNavBar .ui-btn.ui-btn-active:before {content:""; height: 23px; width: 100%; position: absolute; left: 0; top: 0; z-index: 5000; display: block; background: transparent url(images/cc_main_menu_arrow_up.png) no-repeat 52% 0;margin:-11px 0 0 0;padding:19px 0 0 0;}
div.ljMapPage div.ui-content .ljContainer .ljNavBar .ui-btn-active,
div.ljMapPage div.ui-footer               .ljNavBar .ui-btn-active {background-color:#fff;border:2px solid #205791; z-index:5000;}
div.ljMapPage div.ui-content .ljContainer .ljNavBar .ui-btn-active.ui-icon{border:0;background-color:transparent;}
div.ljMapPage div.ui-content .ljContainer .ljNavBar .ui-grid-c li {width:auto; margin:0 0.3em 0 0;}
div.ljMapPage div.ui-content .ljContainer .ljNavBar .ui-grid-a .ui-block-a,
div.ljMapPage div.ui-content .ljContainer .ljNavBar .ui-grid-a .ui-block-b,
div.ljMapPage div.ui-content .ljContainer .ljNavBar .ui-grid-a .ui-block-c,
div.ljMapPage div.ui-content .ljContainer .ljNavBar .ui-grid-a .ui-block-b,
div.ljMapPage div.ui-content .ljContainer .ljNavBar .ui-grid-c {width:auto;margin:0 0.3em 0 0;}

.ljNavBar a.ui-icon-lj-drivingMap:after{background-image: url(images/ljSprite-TabIcons_clevelandclinic.png);background-position:-117px 1px;}
.ljNavBar a.ui-btn-active.ui-icon-lj-drivingMap:after{background-position:-117px -62px!important;}
.ljNavBar a.ui-icon-lj-drivingDirections:after{background-image: url(images/ljSprite-TabIcons_clevelandclinic.png);background-position:-184px 1px;}
.ljNavBar a.ui-btn-active.ui-icon-lj-drivingDirections:after{background-position:-184px -62px!important;}
.ljNavBar a.ui-icon-lj-walkingDirections:after{background-image: url(images/ljSprite-TabIcons_clevelandclinic.png);background-position:-58px 1px;}
.ljNavBar a.ui-btn-active.ui-icon-lj-walkingDirections:after{background-position:-58px -62px!important;}
.ljNavBar a.ui-icon-lj-walkingMap:after{background-image: url(images/ljSprite-TabIcons_clevelandclinic.png);background-position:11px 1px;}
.ljNavBar a.ui-btn-active.ui-icon-lj-walkingMap:after{background-position:11px -62px!important;}

/* Popup */
div.ljMapPage div.ui-popup.ui-content,
div.ui-popup.ui-content{padding:15px;}
div[data-role="footer"] .ui-icon{left:40%!important;visibility:hidden;}

fieldset.popupFields legend{color: #1c5593;}
div.ui-popup ul.ui-listview li.ui-btn div.ui-btn-text a{text-decoration:none;color:#fff!important;}

ul.autocompleteSuggestions a.ui-link-inherit{color:#fff;text-decoration:none;}

ul.autocompleteSuggestions li.ui-btn-hover-a {  
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0, #e0e0e0), color-stop(0, #2d87cf) );
	background:-moz-linear-gradient( center top, #e0e0e0 0%, #2d87cf 0% );
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false); 
	background-color:#2d87cf;
  border:0;
}


/* Icons from Logic Junction Theme */


/* Icons
-----------------------------------------------------------------------------------------------------------*/

.ui-icon,
.ui-icon-searchfield:after {
	background-color: transparent /*{global-icon-color}*/;
	background-color: transparent /*{global-icon-disc}*/;
	background-image: url(../../images/icons-18-white.png) /*{global-icon-set}*/;
	background-repeat: no-repeat;
	-webkit-border-radius: 				9px;
	border-radius: 						9px;
}

/* Alt icon color
-----------------------------------------------------------------------------------------------------------*/

.ui-icon-alt .ui-icon,
.ui-icon-alt .ui-icon-searchfield:after {
	background-color: 						#fff;
	background-color: 						rgba(255,255,255,.3);
	background-image: url(images/icons-18-black.png);
	background-repeat: no-repeat;
}

/* No disc
-----------------------------------------------------------------------------------------------------------*/

.ui-nodisc-icon .ui-icon,
.ui-nodisc-icon .ui-icon-searchfield:after,
.ui-nodisc-icon .ui-icon-alt .ui-icon,
.ui-nodisc-icon .ui-icon-alt .ui-icon-searchfield:after {
	background-color: transparent;
}

/* Icon sprite
-----------------------------------------------------------------------------------------------------------*/

/* plus minus */
.ui-icon-plus {
	background-position: 	-1px -1px;
}
.ui-icon-minus {
	background-position: 	-37px -1px;
}
/* delete/close */
.ui-icon-delete {
	background-position: 	-73px -1px;
}
/* arrows */
.ui-icon-arrow-r {
	background-position: 	-108px -1px;
}
.ui-icon-arrow-l {
	background-position: 	-144px -1px;
}
.ui-icon-arrow-u {
	background-position: 	-180px -1px;
}
.ui-icon-arrow-d {
	background-position: 	-216px -1px;
}
/* misc */
.ui-icon-check {
	background-position: 	-252px -1px;
}
.ui-icon-gear {
	background-position: 	-288px -1px;
}
.ui-icon-refresh {
	background-position: 	-323px -1px;
}
.ui-icon-forward {
	background-position: 	-360px -1px;
}
.ui-icon-back {
	background-position: 	-396px -1px;
}
.ui-icon-grid {
	background-position: 	-432px -1px;
}
.ui-icon-star {
	background-position: 	-467px -1px;
}
.ui-icon-alert {
	background-position: 	-503px -1px;
}
.ui-icon-info {
	background-position: 	-539px -1px;
}
.ui-icon-home {
	background-position: 	-575px -1px;
}
/* search */
.ui-icon-search,
.ui-icon-searchfield:after {
	background-position: 	-611px -1px;
}
/* checkbox radio */
.ui-icon-checkbox-on {
	background-position: 	-647px -1px;
}
.ui-icon-checkbox-off {
	background-position: 	-683px -1px;
}
.ui-icon-radio-on {
	background-position: 	-718px -1px;
}
.ui-icon-radio-off {
	background-position: 	-754px -1px;
}
.ui-btn.ui-checkbox-off:after, .ui-btn.ui-checkbox-on:after, .ui-btn.ui-radio-off:after, .ui-btn.ui-radio-on:after{
	background-color:#78b2de;
}
/* menu edit */
.ui-icon-bars {
	background-position: 	-788px -1px;

}
.ui-icon-edit {
	background-position: 	-824px -1px;
}
/* Hide Header */
  div.ljMapPage div.ui-content{top:0;padding:0;}
  div.ljMapPage div.appHeader{display:none;}
  div.ljMapPage#drivingdirections div.ui-content .ljContainer,
  div.ljMapPage#walkingdirections div.ui-content .ljContainer,
  div.ljMapPage#driving div.ui-content .ljContainer,
  div.ljMapPage#walking div.ui-content .ljContainer{top:0!important;}


/* Main Menu Overrides */

@media (max-width: 320px){
  div.appHeader a.logo{margin:5px 0 0 0;}
  div.appHeader.ui-bar-a .startOverButton.ui-btn{margin:12px 10px 0 0}
  div#data div.ljContainer,
  div#data form,
  div#eventspage div.ljContainer,
  div#eventspage form{margin:0;}
}
@media (max-width: 480px){
  div.appHeader a.logo{margin:3px 0 0 0;}
  div.appHeader.ui-bar-a .startOverButton.ui-btn{margin:11px 10px 0 0}
}
@media (min-width: 481px) and (max-width: 767px){
  div.appHeader a.logo{margin:5px 0 0 0;}
  div.appHeader.ui-bar-a .startOverButton.ui-btn{margin:12px 10px 0 0}

}

/* Layout */

div.ui-page {background-color:#ffffff;}
div.ljMapPage{background-color:#ebebeb;}
div.ui-content{background:#ebebeb;}
#printable div.ui-content{background:#fff;padding:15px;}
div.ljMapPage div.ljContainer{background:#fff!important;}
div.ljContainer{background:#ebebeb!important;padding:0px 0px 50px;margin:0 auto;

  -webkit-border-radius: 0px; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
  border-radius: 0px; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */

  /* useful if you don't want a bg color from leaking outside the border: */
  -webkit-background-clip: padding-box; background-clip: padding-box;

  -webkit-box-shadow: 0px 0 0 0  #666 ; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
  box-shadow: 0px 0 0 0  #666 ; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
}


/* Footer */
body.featureAds div.ljMapPage#walkingdirections div.ui-content .ljContainer div.ljAdsFooter {margin:0;}


div.ljFooter .ui-grid-b .ui-block-a,
div.ljFooter .ui-grid-b .ui-block-b{border:0;}
div.ljFooter .ui-grid-b .ui-block-b .ui-body{padding:2.0em 0 0 0;}
div.ljFooter .ui-grid-b .ui-block-c .ui-body{text-align:left;padding-top:0;padding-bottom:0;padding:1em 0 0;}
div.ljFooter{background:#fff;width:100%;margin:0 -16px -16px;color:#343536;

  -webkit-border-radius: 0; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
          border-radius: 0; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */

  /* useful if you don't want a bg color from leaking outside the border: */
  -webkit-background-clip: padding-box; background-clip: padding-box;
}
div.ljFooter .ui-grid-b{background:#fff;margin:0 auto;padding:0;max-width:900px;font-size:0.9em;}
div.ljFooter .ui-grid-b a{color:#336699;}

div.ljFooter .ui-grid-b .ui-block-c a{margin-top:0.3em;display:block;}
div.ljFooter .ui-grid-b .ui-body {min-height:0!important;}
tr.ui-bar-d{
color: #000000;
text-shadow:none;
font-weight: bold;
border-color:white;
}

@media (max-width: 320px){
  div.ljFooter{margin:0;padding:0;font-size:0.9em;}
  div.ljFooter .ui-grid-b{padding:15px;}
  div.ljFooter .ui-grid-b .ui-block-b .ui-body {padding:0;}
  div.ljFooter .ui-grid-b dl{margin:1em 0 0 0;}
  div.ljFooter .ui-grid-b .ui-block-a,
  div.ljFooter .ui-grid-b .ui-block-b{text-align:left;}
  div.ljFooter .ui-grid-b .ui-block-c{width:33%;}
}
  
@media (min-width: 320px) and (max-width: 767px){
  div#data div.ljContainer,
  div#data form,
  div#eventspage div.ljContainer,
  div#eventspage form{margin:0;}

  div#home div.ljContainer{padding:0 15px;}

  div.ljFooter{margin:0;padding:0;font-size:0.9em;}
  div.ljFooter .ui-grid-b{padding:15px;}
  div.ljFooter .ui-grid-b .ui-block-b .ui-body {padding:0;}
  div.ljFooter .ui-grid-b dl{margin:1em 0 0 0;}
  div.ljFooter .ui-grid-b .ui-block-a,
  div.ljFooter .ui-grid-b .ui-block-b{text-align:left;}
  div.ljFooter .ui-grid-b .ui-block-c{width:33%;}
}
@media (max-width: 480px){
  #data form,
  #eventspage form { margin: 0 -2em; }
  div#lookup div.ljContainer, div#data div.ljContainer , div#eventspage div.ljContainer{padding:15px}
  div.ljMapPage div.ui-content .ljContainer {padding-left:0;padding-right:0}

}
@media (min-width: 481px) and (max-width: 767px){
  div.ljMapPage div.ui-content .ljContainer {padding-left:0;padding-right:0}
  div#lookup div.ljContainer,
  div#eventspage div.ljContainer,
  div#data div.ljContainer{margin:0;}

}
@media (min-width: 768px) and (max-width: 1023px){
  div.appHeader a.logo{margin:2px 0 0 0;}
  div.appHeader.ui-bar-a .startOverButton.ui-btn{margin:12px 10px 0 0}
  div.ljMapPage div.ui-content .ljContainer {margin:0;}


  div.ljFooter{padding:1em;/*margin:0;*/}
  div.ljFooter .ui-grid-b .ui-block-b dl{font-size:0.9em;margin:0.6em 0 0;}
  div.ljFooter .ui-grid-b .ui-block-b dl dt{width:16%;}
}

/* #### Desktops 1024px min #### */
@media (min-width: 1024px){
  div.ljMapPage div.ui-content{top:0;}
  div.ljMapPage#driving div.ui-content .ljContainer,
  div.ljMapPage#walking div.ui-content .ljContainer{}

  div.ljFooter .ui-grid-b .ui-block-b dl{font-size:0.9em;margin:0.6em 0 0;}
  div.ljFooter .ui-grid-b .ui-block-b dl dt{width:16%;}
}

